@import url("https://fonts.googleapis.com/css?family=Rubik");

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    color: #707070;
    text-align: center;
}

h1{
    color: #3b3b3b;
    font-size: 2em;
}

h3{
    color: #3b3b3b;
    font-size: 1.375em;
}


/**************************************/
/*         Estilos del Header         */
/**************************************/

#header {
    background: #ececec;
}

.link-menu {
    color: #707070;
    text-decoration: none;
}

a:hover {
    color: #6984e6;
}
/**************************************/
/*         Estilos de Principal         */
/**************************************/

#principal {
    margin-top: 3.125em;
    min-height: calc(100vh - 4.6875em);
}

/**************************************/
/*         Estilos de Producto         */
/**************************************/

#producto {
    background: -webkit-linear-gradient(90deg, #6859ea 10%, #6acb 90%);
    background: -moz-linear-gradient(90deg, #6859ea 10%, #6acb 90%);
    background: linear-gradient(90deg, #6859ea 10%, #6acb 90%);
    color: #fff;
}

.espacio-row {
    padding-top: 2em;
    padding-bottom: 2em;
}

/**************************************/
/*         Estilos del Footer         */
/**************************************/

#footer {
    background: #3b3b3b;
    color: #fff;
    height: 4.6875em;
}

/***************************************/
/* Estilos de Contacto
/***************************************/
#contacto {
	background:-webkit-linear-gradient(90deg, #d6860d 10%, #da2607 90%);
	background:-moz-linear-gradient(90deg, hsl(234, 77%, 46%) 10%, #da2607 90%);
	background: linear-linear-gradient(90deg, #1bbacf 10%, #da2607 90%);
	color: rgb(216, 184, 184);
    min-height: calc(100vh - 4.6875em);
}